<h1>Palindrome Results</h1>
<% if @phrase.palindrome? %>
  <div class="result result-success">
    <p>"<%= @phrase %>" is a palindrome</p>
  </div>
<% else %>
  <div class="result result-fail">
    <p>"<%= @phrase %>" is not a palindrome</p>
  </div>
<% end %>
<h2>Try another one!</h2>
<%= erb :palindrome_form %>
